<?xml version="1.0"?>
<ruleset name="RAN Ecwid Shop Teaser">
	<description>WordPress coding-standard checks for plugin source.</description>
	<file>ran-ecwid-shop-teaser.php</file>
	<file>includes</file>
	<exclude-pattern>vendor/*</exclude-pattern>
	<rule ref="WordPress-Extra">
		<exclude name="WordPress.Files.FileName.NotHyphenatedLowercase" />
		<exclude name="WordPress.Files.FileName.InvalidClassFileName" />
		<exclude name="WordPress.NamingConventions.ValidVariableName.UsedPropertyNotSnakeCase" />
	</rule>
</ruleset>
